h2 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

mat-divider {
    margin-bottom: 20px;
}

.chart {
    display: inline-block;
    width: 50%;
    margin-left: 40%;
    height: 300px;
}

.experimentAssigmentsContent {
    position: absolute;
    display: block;
    width: 30%;
    padding-left: 20px;
}

.warning {
    display: inline-block;
}


.deleteButton {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.header{
    white-space: nowrap;
    width: 100%;
}

.options {
    display: inline-block;
    align-items: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    top: 80px; 
    white-space: nowrap;
}