h2 {
    display: inline-block;
    margin-left: 20px;
}

p {
    margin-left: 40px;
}

mat-list {
    margin-left: 20px;
}

mat-card {
    width: 100%;
    height: 90%;
    border-radius: 0px;
}

.chart {
    display: inline-block;
    width: 50%;
    margin-left: 40%;
    height: 300px;
}

.experimentAssigmentsContent {
    position: absolute;
    display: block;
    width: 30%;
    padding-left: 20px;
}

.warning {
    display: inline-block;
    margin-bottom: 0;
}


.deleteButton {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.options {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.example-spacer {
    flex: 1 1 auto;
}

ngx-charts-pie-chart {
    margin-top: 20px;
    margin-right: 10px;
}

mat-card {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.keyButton {
    color: rgb(92, 151, 92);
    margin-bottom: 0px;
    margin-right: 10px;
}

.chartContainer {
    height: 10%;
    width: 10%;
}

h3 {
    margin-left: 50px;
}

.nodata {
    color: grey;
}