.experimentListElement {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    margin-left: 10px;
    text-align: start;
    max-width: 3fr;
}

.info-text {
    text-align:center;
}