h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: grey;
    padding-left: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

mat-divider {
    margin-bottom: 20px;
}

.formButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.deleteButton {
    position: absolute;
    top: 80px; 
}

.formElement {
    display: block;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 0px;
    width: 95%;
}

.newAssignments {
    display: inline-block;
    width: 50%;
}

.assignmentFormElement {
    margin-left: 10px;
    margin-bottom: 0px;
    width: 90%;
}

.column1 {
    position: absolute;
    width: 40%;
}

.column2 {
    position: absolute;
    margin-left: 40%;
    width: 40%;
}

.buttonsContainer {
    width: 95%
}

.chart {
    display: inline-block;
    width: 50%;
    margin-left: 40%;
    height: 300px;
}

.experimentAssigmentsContent {
    position: absolute;
    display: block;
    width: 30%;
    padding-left: 20px;
}