h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

mat-divider {
    margin-bottom: 20px;
}

mat-card {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.formButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.formElement {
    display: block;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 0px;
    width: 95%;
}

.assignmentFormElement {
    margin-left: 10px;
    margin-bottom: 0px;
    width: 90%;
}

.buttonsContainer {
    width: 95%
}

mat-spinner {
    display: inline-block;
}
