mat-toolbar {
    position:fixed;
    left:0;
    top:0;
    z-index: 50;
    background-color: rgb(37, 37, 37);
}

.example-spacer {
    flex: 1 1 auto;
}

.titlebar {
    padding-left: 10px;
    margin-right: 30px;
    color: white;
}

.barbutton {
    margin-right: 15px;
}

.option {
    color: white;
}

.logoIcon {
    padding-top: 7px;
}