<main>
  <div class="pos">
    <div class="centerLogo">
      <span class="logoImage"><img src="assets/logo.png" height="200"></span>
      <span class="logo">
        <h1>lABoratory</h1>
      </span>
    </div>
  </div>
  <div  class="content">
    <header>
      <!--<h1>Welcome to lABoratory</h1>-->
      <p class="title">Create an use A/B testing experiments right now!</p>
    </header>
  </div>
 <!--
  <div class="content">
    <p class="about">
      Las pruebas A/B son un tipo de experimentos que se utilizan en el contexto del marketing digital y la analítica web para identificar cambios que maximizan un resultado determinado. Por ejemplo, clientes diferentes de una página de compras online pueden ver productos diferentes, anuncios en diferentes lugares, o precios diferentes para el mismo producto, basados en dicho experimento. Mediante la obtención de métricas vinculadas al experimento se puede determinar la optimalidad de cada opción y finalmente tomar una decisión en base a los resultados.
    </p>
  </div>
  <div class="subcontent">

  </div>
  <footer class="footer">
    
  </footer>-->
</main>
