<main>
  <mat-grid-list cols="4" rowHeight="19.92vh">
    <mat-grid-tile colspan="2">
      <h2 class="title">Plataform for create and use A/B testing experiments</h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
      <div class="logo">
        <img src="assets/logo.png" height="200">
        <h1>lABoratory</h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" class="footer">
      <div style="width: 100%; height: 100%;">
        <mat-grid-list cols="4" rowHeight="100%">
          <mat-grid-tile colspan="3" rowspan="1">
            <h2 class="footerTitle">Create a new experiment right now!</h2>
            <button mat-flat-button class="buttonStarted">Get Started</button>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
        </mat-grid-list>
      </div>
      
     
    </mat-grid-tile>
  </mat-grid-list>
</main>