main {
    color: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header {
    display: block; 
    margin-top: 35px;
}

.description {
    text-align: center;
    font-size: 1.6rem;
}

.descriptionCard{
    color: white;
    border-radius: 0px;
    padding: 30px;
    align-items: center; 
    text-align: center;
    background-color: transparent;
    margin-bottom: 60px;
}

.logo {
    text-align: center;
}

h1 {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    margin-top: 30px;
}

.buttonStarted {
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    background-color: rgb(52, 214, 114);
    margin-left: 30px;
    margin-top: 5px;
}

.footerTitle{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer {
    margin:0;
    border: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
}

.title{
    margin-top: 70px;
    margin-left: 30px;
}
