<app-renderer></app-renderer>
<div class="frame"> 
    <mat-toolbar [class.mat-elevation-z5]="true">
        <span class="logoIcon"><img src="assets/logo.png" height="40"></span>
        <span class="titlebar">lABoratory</span>
      </mat-toolbar>
    <mat-card>
        <ng-template [ngIf]="type==='signup'"> 
            <form [formGroup]="signupForm" (submit)="signup()">
                <h1>Sign Up</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                    matInput 
                    type="email" 
                    formControlName="username"
                    required>
                    <mat-error *ngIf="this.signupForm.controls['username'].hasError('required') || this.authForm.controls['username'].hasError('email')">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                    matInput 
                    type="password" 
                    formControlName="password"
                    required>
                    <mat-error *ngIf="hasError">Please enter a valid password</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Repeat the password</mat-label>
                    <input 
                    matInput 
                    type="password" 
                    formControlName="repeatedPassword"
                    required>
                    <mat-error *ngIf="this.signupForm.controls['password'].value != this.signupForm.controls['repeatedPassword'].value">Password doesn't match</mat-error>
                </mat-form-field>
                <button 
                    mat-raised-button 
                    color="primary"
                    type="submit">
                    Sign Up
                </button>
            </form>
        </ng-template>
        <ng-template [ngIf]="type==='login'"> 
            <form [formGroup]="authForm" (submit)="authenticate()" >
                <h1>Log In</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                    matInput 
                    type="email" 
                    formControlName="username"
                    required>
                    <mat-error *ngIf="this.authForm.controls['username'].hasError('required') || this.authForm.controls['username'].hasError('email')">
                        Please enter a valid email            
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                    matInput 
                    type="password" 
                    formControlName="password"
                    required>
                    <mat-error *ngIf="this.authForm.controls['password'].invalid">Incorrect password</mat-error>
                </mat-form-field>
                <button 
                    mat-raised-button 
                    color="primary"
                    type="submit">
                    Log In
                </button>
            </form>
        </ng-template>
    </mat-card>
</div>