<mat-toolbar [class.mat-elevation-z5]="true" color="primary">
  <span>e-Commerce example</span>
  <span class="spacer"></span>
</mat-toolbar>
<br>
<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
        <form [formGroup]="usernameForm" class="form">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input 
                matInput 
                type="text" 
                formControlName="username"
                required>
            </mat-form-field>
        </form>
        <button mat-flat-button class="button-inline" color="primary" (click)="loadNewUser()" type="submit">Log in</button>
    </mat-grid-tile>
</mat-grid-list>
<div *ngIf="logged">
    <mat-grid-list cols="2" rowHeight="40vh">
        <mat-grid-tile rowspan="2"><img src="assets/product.jpg"></mat-grid-tile>
        <mat-grid-tile>
            <mat-card [class.mat-elevation-z0]="true" class="frame">
                <h1>Smartphone Pro 5G</h1>
                <h3>8Gb RAM, 128Gb Memory Storage, 5G, 6.1 Inches</h3>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card [class.mat-elevation-z0]="true" class="frame fill">
                <h1>Price: {{price}} $</h1>
                <button mat-flat-button class="buy">Buy it now!</button>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
  