<mat-toolbar [class.mat-elevation-z5]="true">
    <span class="logoIcon"><img src="assets/logo.png" height="40"></span>
    <span class="titlebar">lABoratory</span>
    <button mat-button class="barbutton option">Documentation</button>
    <button mat-button class="barbutton option">Get Started</button>
    <button mat-button class="barbutton option">About us</button>
    <span class="example-spacer"></span>
    <button mat-stroked-button [routerLink]="['/', 'auth', 'login']" class="barbutton" color="primary">Log in</button>
    <button mat-stroked-button [routerLink]="['/', 'auth', 'signup']" class="barbutton" color="accent">Sign up</button>
  </mat-toolbar>
  
  <app-renderer></app-renderer>
  <landing-view></landing-view>