<mat-toolbar [class.mat-elevation-z5]="true">
    <span class="logoIcon"><img src="assets/logo.png" height="40"></span>
    <span class="titlebar">lABoratory</span>
    <button mat-button (click)="newExperimentOption()" class="barbutton option">New Experiment</button>
    <span class="example-spacer"></span>
    <button mat-stroked-button (click)="logout()" [routerLink]="['']" color="warn">Log out</button>
    <mat-icon class="account">account_circle</mat-icon>
</mat-toolbar>
<div class="gird">
    <div class="side">
        <mat-card [class.mat-elevation-z0]="true" class="expCard">
            <h2>My experiments:</h2>
            <experiment-list></experiment-list>
        </mat-card>
    </div>
    <div class="content">
        <mat-card [class.mat-elevation-z0]="true" class="expCard contentCard">
            <experiment-content></experiment-content>
        </mat-card>
    </div>
</div>